body {
    /* background-image: url("../images/stone.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/stone.jpg");
    background-repeat: repeat;
    color: #D8D8F6;
    min-height: 100%;
}

.panel {
    background-color: black;
    margin: auto;
    width: 45%;
    float: left;
    margin-right: 55px;
    border-radius: 5px;
}

.panel-body {
    clear: both;
}

nav {
    border-bottom: solid 2px #978897;
}

#disclaimer {
    margin: auto;
}

.btn-outline-secondary {
    color: #D8D8F6!important;
    border-color: #B18FCF!important;
}

.btn-outline-secondary:hover {
    background-color: #B18FCF!important;
    color: black!important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 30px;
}

select {
    width: 70%!important;
    margin: auto;
}

.item-icon {
    margin-right: 5px;
}

#inventory {
    margin-bottom: 50px;
}