body {
    /* background-image: url("../images/stone.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/stone.jpg");
    background-repeat: repeat;
    color: #D8D8F6;
    min-height: 100%;
}

#info-box {
    height: 500px;
    width: 475px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/sparkle.gif");
    background-size: contain;
    /* border: 5px black solid; */
}

#info-box, .card {
    border-radius: 5px;
}

.card {
    background-color: black;
    max-height: 68px;
}

.card-body {
    clear: both;
}

nav {
    border-bottom: solid 2px #978897;
}

#disclaimer, select, #inventory {
    margin: auto;
}

.btn-outline-secondary {
    color: #D8D8F6!important;
    border-color: #B18FCF!important;
}

.btn-outline-secondary:hover {
    background-color: #B18FCF!important;
    color: black!important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 30px;
}

select {
    width: 70%!important;
}

.item-icon {
    margin-right: 5px;
}

#inventory {
    margin-bottom: 50px;
}