body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/stone.jpg");
    background-repeat: repeat;
    color: #D8D8F6;
    min-height: 100%;
}

#item-display {
    background: linear-gradient(to bottom left, #596364, #2C2C34);
    margin-bottom: 25px;
}

.container {
    margin-bottom: 150px;
}

#info-box {
    min-height: 325px;
    width: 475px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/sparkle.gif");
    background-size: contain;
}

#info-box, .card, #item-display {
    border-radius: 5px;
}

.card {
    background-color: black;
    max-height: 68px;
    width: 500px;
}

nav {
    border-bottom: solid 2px #978897;
}

#disclaimer, select, #inventory {
    margin: auto;
}

.item-btn {
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.btn-outline-secondary {
    color: #D8D8F6!important;
    border-color: #B18FCF!important;
}

.btn-outline-secondary:hover {
    background-color: #B18FCF!important;
    color: black!important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 30px;
}

select {
    width: 70%!important;
}

.item-icon {
    margin-right: 5px;
}

#inventory {
    margin-bottom: 50px;
}